html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato-Regular', sans-serif;
  width: 100%;
}

*,
::before,
*::after {
  box-sizing: inherit;
}

* 
{
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.contact {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  height: 654px;
}

.contact__heading {
  font-size: 30px;
  line-height: 17.86px;
  color: #f0d8d9;
  font-family: 'Lato-Black';
  padding-top: 70px;
  margin-bottom: 27px;
  letter-spacing: -0.07px;
}

.contact__description {
  font-size: 18px;
  font-family: "Lato-Light";
  line-height: 30px;
  margin-bottom: 42px;
  color: #f0d8d9;
  text-align: justify;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
}

.contact__title,
.contact__text,
.contact__info {
  color: #f0d8d9;
}

.contact__form {
  width: 619px;
  margin-right: 21px;
  margin-bottom: 9px;
}

.contact__title {
  font-family: "Lato-Black";
  font-size: 18px;
  line-height: 17.86px;
  margin-bottom: 11px;
  padding-top: 2px;
}

.contact__text {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 21.56px;
  margin-bottom: 24px;
  text-align: justify;
  letter-spacing: -0.2px;
}

.contact__input,
.contact__line {
  width: 619px;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 22px;
  background-color: #d6564f;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 8px 15px;
}

.contact__input {
  height: 39px;
}

.contact__input::placeholder,
.contact__line::placeholder {
  font-size: 12px;
  color: #ee8284;
  font-family: 'Lato-Regular';
  margin-left: 20px;
}

.contact__line {
  resize: none;
  height: 202px;
}

.contact__adress {
  position: relative;
}

.ico_adress {
  position: absolute;
  background-image: url('./assets/img/pin.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 13px;
  left: 0px;
  bottom: 5px;;
}

.contact__phone {
  padding-left: 23px;
  position: relative;
}

.ico_phone {
  position: absolute;
  background-image: url('./assets/img/phone-ico.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 13px;
  left: 0px;
  bottom: 5px;;
}

.contact__link {
  position: relative;
  padding-left: 23px;
}

.ico_email {
  position: absolute;
  background-image: url('./assets/img/mail.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 13px;
  left: 0px;
  bottom: 2px;;
}

.contact__info {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 21.56px;
}

.contact__button {
  text-align: center;
}

.button_send {
  padding: 10px 20px 10px;
  font-style: normal;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 21.56px;
  color: #f0d8d9;
  background-color: #d6564f;
  border: none;
}

.button_send:hover {
  color:#15c2f7;
  cursor: pointer;
  background-color: #fafce6;
}

.footer__link--facebook,
.footer__link--google,
.footer__link--linkedin,
.footer__link--twitter {
  fill: #666d89;
  width: 33.5px; 
  height: 33.5px;
}

.footer__link--facebook:hover,
.footer__link--google:hover,
.footer__link--linkedin:hover,
.footer__link--twitter:hover {
  fill: #15c2f7;
  cursor: pointer;
}

.footer {
  background-color: #2d303a;
  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  display: flex;
}

.footer__item {
  margin-left: 6px;
}


.footer__link {
  cursor: pointer;
}

.footer__copyright {
  font-family: 'Lato-Regular';
  font-size: 12px;
  color: #666d89;
  letter-spacing: -0.1px;
  margin-left: 1px;
  margin-top: -3px;
}
