/*common*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato-Regular', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.slider,
.services,
.portfolio,
.about-us,
.contact { 
  scroll-margin-top: 89px;
}

nav .container {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

/*RESPONSIVE*/

/* 
test */
.logo__heading {
  font-family: 'Lato-Bold';
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 10px;
  letter-spacing: -0.5px;
  position: relative;
  /* margin-left: -5px; */
  padding-top: 10px;
}

.logo__link {
  cursor: pointer;
  color: inherit;
}

.star {
  font-size: 24px;
  bottom: 10px;
  position: absolute;
  color: #bc5c59;
}

nav ul {
  margin: 0;
}

nav ul li,
.social li {
  display: inline-block;
  list-style-type: none;
}

nav a {
  position: relative;

  font-size: 12px;
  text-decoration: none;
  font-family: 'Lato-Bold';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #f06c64;
}

nav li:not(:first-child) a {
  margin-left: 2.19em;
}

nav li:not(:first-child) a:before {
  content: "·";
  position: absolute;
  top: 0;
  left: -1.35em;
  color: #494e62;
  border-radius: 50%;
}

nav a:not(.current) {
  color: #ffffff;
  cursor: pointer;
}

nav a:not(.link-current):hover {
  color: #f06c64;
}

.link-current::before {
  visibility: hidden;
}

nav a.current {
  cursor: default;
}


*,
::before,
*::after {
  box-sizing: inherit;
}

* 
{
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}



/*singolo-1*/

.header {
  background-color: #2d303a;
  height: 96px;
  border-bottom: 6px solid #323746;
  position: fixed;
  width: 100%;
  z-index: 99999;
  align-items: center;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.logo__heading {
  font-family: 'Lato-Bold';
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 10px;
  letter-spacing: -0.5px;
  position: relative;
}

.logo__link {
  cursor: pointer;
  color: inherit;
}

.star {
  font-size: 24px;
  bottom: 10px;
  position: absolute;
  color: #bc5c59;
}

 .header__list  {
  padding-top: 10px;
  padding-right: 6px;
 }

/* .header__list {
  display: flex;
  flex-basis: 370px;
  overflow: hidden;
} */

.header__item {
  padding-left: 30px;
  position: relative;
}

/* .header__item:first-child {
  padding-left: 0;
} */

/* .header__link {
  font-family: 'Lato-Bold';
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 11.66px;
} */

/* .header__link.header__link--current {
  color: #f06c64;
/* } */

/* .header__item:not(:first-child)::before {
  content: "";
  position: absolute;
  background-color: #494E62;
  width: 3px;
  height: 3px;
  bottom: 5px;
  left: 14px;
  right: 10px;
  border-radius: 50%;
} */

/* .header__link:hover {
  color: #f06c64;
} */


.slider {
  min-height: 592px;
  background-color: #f06c64;
  border-bottom: 8px solid #ea676b;
  padding-top: 6%;
  padding-bottom: 8.5%;
}


/* .container .slider__inner .slider__phone {
  height: 592px;
} */

.slider__inner {
  position: relative;
}

.slider__phone {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
}

.slider__phone.active {
  display: flex;

    height: 537.547px;
}

/*----------------------*/

.active,
.next {
display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}
.left {
  position: absolute;
  top: 280px;
  left: 40px;
}
.right {
  position: absolute;
  top: 280px;
  right: 40px;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.second {
  /* height: 542px; */
  background-color:#648BF0;
  width: 100%;
}

.slider.second {
  background-color:#648BF0;
}

.slider__phone--vertical img {
  /* width: 240px;
  height: 483px; */
  width: 99%;
  /* height: 99.824%; */
  height: 108%;
}

.slider__phone--vertical {
  padding-top: 9.5%;
  padding-left: 8%;
  padding-right: 8%;
}

.slider__phone--horizontal img {
  /* width: 483px;
  height: 240px; */
  height: 74%;
  width: 99%;
}

.slider__phone--horizontal {
  padding-top: 22.5%;
}

.slider__btn-prev {
  background-image: url('./assets/img/prev.png');
  box-sizing: content-box;
  width: 4%;
  height: 5%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  /* top: 52%;
  left: -1%; */
    top: 59%;
    left: 0;
  outline: none;
  z-index: 100;
}

.slider__btn-prev:hover {
  opacity: 0.7;
}

.slider__btn-prev:active {
  opacity: 0.5;
}

.slider__btn-next {
  background-image: url('./assets/img/next.png');
  box-sizing: content-box;
  width: 4%;
  height: 5%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  border: none;
  position: absolute;
  top: 59%;
  right: 0%;
  outline: none;
}

.slider__btn-next:hover {
  opacity: 0.7;
}

.slider__btn-next:active {
  opacity: 0.5;
}

/*off*/

.vertical-off img {
  /* width: 213px;
  height: 457px; */
  width: 99%;
  height: 108%;
}

.vertical-off {
  position: absolute;
  display: none;
  /* top: 53px;
  left: 70px; */
  padding-top: 9.5%;
  padding-left: 8%;
  padding-right: 8%;
  cursor: pointer;
}

.horizontal-off {
  position: absolute;
  display: none;
  /* top: 174px;
  right: 95px; */
  padding-left: 42%;
  padding-top: 23%;
  cursor: pointer;
}

.horizontal-off img {
    /* height: 213px;
    width: 457px; */
  height: 74%;
  width: 99%;
}


.services {
  padding-top: 60px;
  min-height: 500px;
  background-color: #f2f2f2;
  color: #666D89;
  border-bottom: 6px solid #ffffff;
}

.services__heading {
  font-family: 'Lato-Black';
  font-size: 30px;
  padding-bottom: 19px;
  letter-spacing: -0.25px;
  text-align: justify;
}

.services__heading-info {
  font-family: 'Lato-Light';
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  height: 60px;
  overflow: hidden;
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  position: relative;
  width: 32%;
  margin-bottom: 38px;
  /* max-width: 301px; */
  padding-left: 81px;
  height: 86px;
  /* overflow: hidden; */
}

.services__item::after {
  content: "";
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.services__item--design::after {
  background-image: url('assets/img/pen.svg');
}

.services__item--ideas::after {
  background-image: url('assets/img/bulb.svg');
}

.services__item--love::after {
  background-image: url('assets/img/heart.svg');
}

.services__item--respons::after {
  background-image: url('assets/img/phone.svg');
}

.services__item--support::after {
  background-image: url('assets/img/bubble.svg');
}

.services__item--like::after {
  background-image: url('assets/img/star.svg');
}

.services__title {
  font-size: 17.77px;
  font-family: "Lato-Black";
  line-height: 17.63px;
  padding-bottom: 10px;
  text-align: justify
}

.services__info {
  font-family: 'Lato-Regular';
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.05px;
  text-align: justify;
  word-spacing: -1.05px;
  overflow: hidden;
  height: 62px;
}

/*singolo-2*/
.portfolio {
  background-color: #2d303a;
  color: #666d89;
  /* height: 870px; */
  border-bottom: 6px solid #323746;
}

.portfolio__inner {
  padding-top: 70px;
}

.portfolio__heading {
  font-family: 'Lato-Black';
  font-weight: bold;
  font-size: 29.62px;
  line-height: 17.63px;
  margin-bottom: 26.6px;
  text-align: justify;
}

.portfolio__description {
  font-size: 18px;
  font-family: "Lato-Light";
  line-height: 30px;
  margin-bottom: 13px;
  text-align: justify;
}

/* .portfolio__tags {
  margin-bottom: 18px;
} */

.tag {
  font-family: 'Lato-Regular';
  font-size: 12px;
  line-height: 22px;
  border-radius: 5px;
  padding-top: 3px;
  padding-right: 6.5px;
  padding-bottom: 3px;
  padding-left: 7.2px;
  margin-right: 5px;
  border: 1px solid #767e9e;
  cursor: pointer;

}

.tag_bordered {
  border: 1px solid #767e9e;
  color: #767e9e;
  text-align: justify
}

.tag_bordered:last-child {
  padding-left: 5px;
}

.tag_selected {
  border: 1px solid #c5c5c5;
  color: #dedede;
  letter-spacing: 0.65px;
  text-align: justify
}

.tag_selected:hover {
  cursor: pointer;
  color: #15c2f7;
}

tag,
.tag_bordered:hover {
  cursor: pointer;
  color: #15c2f7;
}
/*RESPONSIVE*/

/* .layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-bottom: 46px;
}
.preview-item  {
  height: 187px;
}

.preview-item {
  list-style: none;
  /* margin: 0px 20px 10px 10px; */
  flex: 1 0 20%;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.preview-item:nth-child(4n + 4) {
  margin-right: 0;
}

.preview-item::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.preview:nth-child(n+13) {
  display: none;
}

/* .preview__img {
  width: 100%;
  height: 100%;
} */

/* .preview__img {
  display: block;
  width: 220px;
  height: 187px;
} */


/*RESPONSIVE*/

.preview__img:nth-child(n+13) {
  display: none;
}


/*border: 3px solid red;*/

.image_selected {
  outline: 5px solid #F06C64;
}

.about-us {
  background-color: #f2f2f2;
  /* height: 734px; */
  height: auto;
  padding-top: 62px;
  padding-bottom: 35px;
  border-bottom: 6px solid #ffffff;
}

.about-us__heading {
  font-size: 30px;
  font-family: "Lato-Black";
  color: #666d89;
  line-height: 35px;
  margin-bottom: 18px;
  overflow: hidden;
  text-align: justify
}

.about-us__text {
  font-size: 18px;
  font-family: "Lato-Light";
  color: #767e9e;
  line-height: 30px;
  overflow: hidden;
  text-align: justify;
  margin-bottom: 44px;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.employee__content {
  display: flex;
  flex-direction: column;
  /* width: 301px; */
  width: 32%;
}

.employee__person1 {
  /* background-image: url('./assets/img/person1.png'); */
  background-repeat: no-repeat;
  /* width: 302px;
  height: 302px; */
  margin-bottom: 16px;
}

.employee__person2 {
  /* background-image: url('./assets/img/person2.png');
  background-repeat: no-repeat;
  width: 302px;
  height: 302px; */
  margin-bottom: 16px;
}

.employee__person3 {
  /* background-image: url('./assets/img/person3.png');
  background-repeat: no-repeat;
  width: 302px;
  height: 302px; */
  margin-bottom: 16px;
}

.employee__title {
  font-size: 18px;
  font-family: "Lato-Black";
  color: #666D89;
  line-height: 17.86px;
  margin-bottom: 12px;
  height: 15.66px;
  overflow: hidden;
  word-spacing: -0.95px;
  text-align: justify;
  text-overflow: ellipsis;
}

.employee__text {
  font-size: 12px;
  font-family: "Lato-Regular";
  color: #767E9E;
  line-height: 21.56px;
  text-align: justify;
  letter-spacing: -0.05px;
  margin-bottom: 23px;
}

.social__list {
  display: flex;
}

.social__item {
  padding-right: 7px;
}

.social__link {
  cursor: pointer;
}

.social__link--facebook,
.social__link--google,
.social__link--linkedin,
.social__link--twitter {
  fill: #666d89;
  width: 33px; 
  height: 33px;
}

.social__link--facebook:hover,
.social__link--google:hover,
.social__link--linkedin:hover,
.social__link--twitter:hover {
  fill: #15c2f7;
  cursor: pointer;
}

/*singolo-3*/
.contact {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  /* height: 654px; */
}

.contact__heading {
  font-size: 30px;
  line-height: 17.86px;
  color: #f0d8d9;
  font-family: 'Lato-Black';
  padding-top: 68px;
  margin-bottom: 27px;
  letter-spacing: -0.07px;
  font-weight: 300;
  text-align: justify;
}

.contact__description {
  font-size: 18px;
  font-family: "Lato-Light";
  line-height: 30px;
  margin-bottom: 43px;
  color: #f0d8d9;
  text-align: justify;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
}

.contact__title,
.contact__text,
.contact__info {
  color: #f0d8d9;
}

.contact__form {
  /* width: 619px; */
  width: 68%;
  margin-right: 21px;
  margin-bottom: 56px;
}

.contact__title {
  font-family: "Lato-Black";
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 11px;
  padding-top: 1px;
  text-align: justify;
}

.contact__text {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 24px;
  text-align: justify;
  letter-spacing: -0.2px;
  word-spacing: 0.5px;
}

.contact__input,
.contact__line {
  width: 100%;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 22px;
  background-color: #d6564f;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 14px;
  padding: 8px 15px;
}

input:focus:invalid {
  filter: saturate(150%);
}

.contact__input {
  height: 39px;
}

.contact__input::-webkit-input-placeholder, .contact__line::-webkit-input-placeholder {
  font-size: 12px;
  color: #ee8284;
  font-family: 'Lato-Regular';
  margin-left: 20px;
}

.contact__input::-moz-placeholder,
.contact__line::-moz-placeholder {
  font-size: 12px;
  color: #ee8284;
  font-family: 'Lato-Regular';
  margin-left: 20px;
}

.contact__input:-ms-input-placeholder,
.contact__line:-ms-input-placeholder {
  font-size: 12px;
  color: #ee8284;
  font-family: 'Lato-Regular';
  margin-left: 20px;
}

.contact__input::-ms-input-placeholder,
.contact__line::-ms-input-placeholder {
  font-size: 12px;
  color: #ee8284;
  font-family: 'Lato-Regular';
  margin-left: 20px;
}

.contact__input::placeholder,
.contact__line::placeholder {
  font-size: 12px;
  color: #ee8284;
  font-family: 'Lato-Regular';
  margin-left: 20px;
}

.contact__input:hover,
.contact__line:hover {
  background-color: #d6564faf;
}

.contact__line {
  resize: none;
  /* height: 202px; */
  height: 161px;
}

.contact__content {
  width: 33%;
}

.contact__adress {
  position: relative;
}

.ico_adress {
  position: absolute;
  background-image: url('./assets/img/pin.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 13px;
  left: 0px;
  bottom: 5px;;
}

.contact__phone {
  padding-left: 23px;
  position: relative;
}

.ico_phone {
  position: absolute;
  background-image: url('./assets/img/phone-ico.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 13px;
  left: 0px;
  bottom: 5px;;
}

.contact__link {
  position: relative;
  padding-left: 23px;
}

.ico_email {
  position: absolute;
  background-image: url('./assets/img/mail.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 13px;
  left: 0px;
  bottom: 2px;;
}

.contact__info {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 21.56px;
}

/* .contact__button {
  text-align: center;
} */

.button_send {
  padding: 11px 20px 11px;
  font-style: normal;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lato-Bold";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #886A30;
  font-weight: bold;
  background-color: #FBC65F;
  border: none;
  width: 136px;
}

.button_send:hover {
  color:#15c2f7;
  cursor: pointer;
  background-color: #fafce6;
}

.footer__link--facebook,
.footer__link--google,
.footer__link--linkedin,
.footer__link--twitter {
  fill: #666d89;
  width: 33px; 
  height: 33px;
}

.footer__link--facebook:hover,
.footer__link--google:hover,
.footer__link--linkedin:hover,
.footer__link--twitter:hover {
  fill: #15c2f7;
  cursor: pointer;
}

.footer {
  background-color: #2d303a;
  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  /* padding-right: 1%; */
}

.footer__item {
  margin-left: 7px;
}


.footer__link {
  cursor: pointer;
}

.footer__copyright {
  font-family: 'Lato-Regular';
  font-size: 12px;
  color: #666d89;
  letter-spacing: -0.1px;
  margin-left: 2px;
  margin-top: -3px;
}


/*modal*/

.modal {
  display: none; /*Hidden by default*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #f2f2f2;
  margin: auto;
  padding: 20px;
  border: 5px solid #dad4d4;
  width: 50%;
  border-radius: 10px;
  color: #666d89;
}

.close-block {
  text-align: center;
}

.close {
  color: #666d89;
  font-size: 28px;
  font-family: "Lato-Black";
  width: 30%;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  border: 2px solid #dad4d4;
  text-transform: uppercase;
}


.close:hover,
.close:focus {
  color: #666d89;
  text-decoration: none;
  cursor: pointer;
}
/*modal-end*/

#menu__toggle {
  display: none;
}

.menu__btn {
  display: none;
}

.mobile-logo {
  display: none;
}


/*Responsive services*/
/*Responsive services*/
/*Responsive portfolio*/


/*media-tablet*/ 
 @media (max-width: 1019px) {
  .container {
    width: auto;
  }

  .slider,
  .services,
  .about-us,
  .contact { 
    padding: 0 20px;
  }
  

  nav.container {
    width: 100%;
  }

  .slider__phone--vertical img {
    height: 100%;
  }

  .slider__phone--horizontal img {
    height: 67%;
    width: 99%;
  }

  .slider__phone--horizontal {
    padding-top: 26.5%;
    padding-right: 6%;
  }

  .slider__phone--vertical {
    padding-top: 13%;
    padding-left: 6.5%;
    padding-right: 8%;
}

  .logo__heading {
      margin-left: 0px;
  }

  .logo__link {
    padding-left: 18px;
  }

  .header__list {
    padding-top: 0px;
    padding-right: 19px;
  }

  .slider {
    padding-bottom: 12px;
    padding-top: 46px;
    min-height: 548px;
  }

  .slider__btn-next {
    height: 7%;
  }

  .slider__btn-prev {
    height: 7%;
  }

  .vertical-off img {
    height: 67%;
    width: 99%;
  }
/* 
  .slider__phone--vertical {
    padding-top: 91px;
    padding-left: 64px;
    padding-right: 56px;
    padding-bottom: 28px;
  } */

  /* .slider__phone--horizontal {
    padding-right: 62;
  } */

  .slider__phone.active {
    height: auto;
  }

  /* .services {
    padding-bottom: 18px;
    padding-top: 41px;
    min-height: 400px;
    padding-left: 20px;
    padding-right: 20px;
  } */

  .services__heading-info {
    height: auto;
  }

  .services__heading-info {
    margin-bottom: 36px;
  }
  
  .mobile-logo {
    visibility: hidden;
  }

  .portfolio {
    padding-left: 20px;
  }

  .portfolio__description {
    margin-bottom: 42px;
  }

  .preview-item {
    flex: 1 0 25%;
  }

  .preview-item:nth-child(4n + 4) {
    margin-right: 20px;
  }

  .services__item {
    width: 49%;
    margin-bottom: 57px;
  }

  .layout-2-column {
    display: block;
  }

  .layout-2-column.contact__inner {
    display: flex;
  }

  .layout-4-column {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .about-us__inner {
    padding-top: 52px;
  }

  .about-us__text {
    margin-bottom: 38px;
  }

  .employee__person1,
  .employee__person2,
  .employee__person3 {
    margin-bottom: 10px;
  }

  .employee__title {
    margin-bottom: 5px;
  }

  .employee__text {
    margin-bottom: 12px;
  }

  .about-us {
    padding-bottom: 36px;
  }

  .contact__heading {
    padding-top: 62px;
        margin-bottom: 28px;
  }

  .contact__description {
    margin-bottom: 25px;
  }

  .contact__input {
    height: 36px;
  }

  .contact__input, .contact__line {
    padding: 6px 7px;
  }

  .contact__title {
    margin-bottom: 4px;
    padding-top: 1px;
    text-align: justify;
  }
  .contact__text {
    margin-bottom: 15px;
    padding-left: 2px;
  }

  .contact__form {
    margin-right: 21px;
    margin-bottom: 36px;
    width: 64%;
  }

  .contact__content {
    width: 32%;
  }

  .vertical-off {

    padding-top: 12.5%;
    padding-left: 7%;
    padding-right: 8%;
    cursor: pointer;
}
  .vertical-off img {
    height: 65%;
    width: 75%;

  }

    .horizontal-off {
    padding-left: 41%;
    padding-top: 27%;
  }

  .horizontal-off img {
    height: 72%;
    width: 84%;
}
.services {
    padding-top: 39px;
    padding-bottom: 20px;
}

/* .portfolio {
    padding-top: 20px;
} */


}



/*media-mobile -burger*/ 
@media (max-width: 767px) {

/* .slider, 
  .services, 
  .about-us, 
  .contact {
    padding: 0px;
} */

nav.container {
    width: 100%;
  
}

.slider, .services, .about-us, .contact {
    padding: 0 0px;
}

  .container {
    padding: 0 32px;
}
  

  .logo__link {
    padding-left: 0px;
    font-size: 19.6875px;
    line-height: 24px;
}

  .modal-content {
    font-size: 11px;
  }

  .header__list {
    display: none;
  }

  .menu {
    display: block;
    text-align: center;
  }


  .preview-item {
    flex: 1 0 35%;
  }

  .services__item {
    width: 100%;
  }

  .layout-3-column {
    display: block;
  }

  .employee__content {
    width: 100%;
    padding-bottom: 29px;
  }

  .button_send {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .header__list {
    display: none;
  }
  
  .mobile-logo {
    position: absolute;
    visibility: inherit;
    top: 0px;
  }

  nav li:not(:first-child) a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.35em;
    color: #494e62;
    border-radius: 50%;
  }

  nav li:not(:first-child) a {
    margin: 0;
  }

  nav ul li, .social li {
    list-style-type: none;
    display: flex;
    padding-left: 71px;
    padding-bottom: 27px;
  }

  nav a {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
  }
  
  /* .container {
    margin: 0 auto;
    width: auto;
    padding: 0 32px;
  } */

  .header {
    background: #242424;
    height: 71px;
    border: none;
  }

  .header__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 278px;
    height: 100%;
    margin: 0;
    padding: 232px 0;
    list-style: none;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    transition-duration: .25s;
  }

  #menu__toggle {
  opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 9px;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: -9px;
    /* transform: rotate(90deg); */
  }
  #menu__toggle:checked ~ .header__list {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 26px;
    left: 20px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2.4px;
    border-radius: 5px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .menu {
    display: block;
    text-align: center;
  }

  .logo__heading {
    padding-bottom: 0;
    padding-top: 20px;
    letter-spacing: -0.03em;
  }
  .star {
    font-size: 19.6875px;
    bottom: 0px;

}

    .preview-item {
    flex: 1 0 35%;
  }

  .services__item {
    width: 100%;
  }

  .layout-2-column.contact__inner {
    display: block;
  }

  .contact__form {
    width: 100%;
  }

  .contact__content {
    width: 100%;
  }

  .social li {
    padding-left: 0;
    padding-bottom: 0;
  }

  .slider__btn-prev {
    height: 13%;
    width: 9%;
    top: 55%;
    left: -5%;
}
.slider__btn-next {
    height: 13%;
    width: 9%;
        top: 55%;
    right: -5%;
}
  .slider__phone--vertical img {
    width: 97%;
    height: 100%;
}
.slider__phone--horizontal {
    padding-top: 30.5%;
    padding-right: 2%;
}

.slider__phone--horizontal img {
    height: 67%;
    width: 99%;
}

  .slider {
    min-height: auto;
    padding-bottom: 4%;
        padding-top: 11%;
  }

  .slider__phone--vertical {
    padding-top: 15%;
    padding-left: 3%;
  padding-right: 8%;
  }

  .services {
    padding-top: 7%;
  }

  .services__heading-info {
    margin-bottom: 30px;
  }

  .services__item {
    margin-bottom: 33px;
  }


    .portfolio {
    padding-top: 12%;
    padding-left: 0px;
  }
  .portfolio__description {
    margin-bottom: 16px;
  }

  .tag {
    padding-right: 5.5px;
}
  li.preview-item:nth-child(n+9) {
    display: none;
  }

    li.preview-item:nth-child(2n+2) {
    margin-right: 0px;
  }

.preview-item {
    /* height: auto; */
      height: 89%;
      margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  }
.layout-4-column {
    margin-top: 27px;
  margin-bottom: 28px;
}

.preview__img {
  height: 89%;
}

.preview-item::before {
    padding-top: 66%;
}

.about-us {
  padding-top: 33px;
}

.about-us__text {
    margin-bottom: 24px;
}

.employee__person1, .employee__person2, .employee__person3 {
    margin-bottom: 20px;
}

.about-us .layout-3-column {
  margin-bottom: 10px;
}   
.contact__heading {
    padding-top: 51px;

}

.contact__description {
    margin-bottom: 20px;
}
.contact__form {

    margin-bottom: 33px;
}

.contact__info {
    line-height: 23px;
}

.contact {
  padding-bottom: 36px;
}

.footer__copyright {
  display: none;
}

.footer__list {
    padding-left: 53px;
}
.mobile-logo {
    display: block;
}
.vertical-off img {
    height: 59%;
    width: 36%;
}
.vertical-off {
    padding-top: 15%;
    padding-left: 3%;
    padding-right: 8%;
    cursor: pointer;
}
.horizontal-off img {
    height: 60%;
    width: 90%;
}
.horizontal-off {
    padding-left: 40%;
    padding-top: 30%;
}
}
